
<div>
  <%= form_for @reminder  do  |f|%>
    <%= f.label "Your Reminder"%>
    <%= f.text_area :text %>

    <%= f.label "Phone Number" %>
    <%= f.text_field :phone_number %>

    <%= f.label "When to be sent" %>
    <%= f.text_field :time%>

    <%= f.label "Picture URL" %>
    <%= f.text_field :picture %>

    <%= f.label "Favorite?" %>
    <%= f.check_box :favorite %>

    <%= f.submit %>
  <% end %>
</div>

<div>
    <p><%= current_user.email %>: here are your favorites </p>
    <% @favorite.each do |t| %>
        <% if t.user_id == current_user.id %>
            <%= t.phone_number %> <br>
            <%= t.picture %>
        <% end %>
    <% end %>
</div>

<!-- comment -->



